body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin-top: 150px;
}

img {
  width: 128px;
  height: 128px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #29292E;
}

hr {
  width: 105px;
  height: 2px;
  background-color: #000000;
  border: none;
}

#formulario {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #29292E;
}

input {
  width: 320px;
  border-radius: 8px;
  border: 1px solid #A8A8B3;
  padding: 15px 16px 15px 16px;
  font-size: 16px;
  font-weight: regular;
  color: #A8A8B3;
  margin-top: 8px;
}

input:focus {
  outline: #0d2f4d 1px solid;
  box-shadow: #00000070 0px 0px 5px;
  transition: box-shadow 0.2s;
}

button {
  background-color: #184680;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #0d2f4d;
}

.tabela {
  margin-top: 40px;
  width: 700px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #184680;
  color: #ffffff;
  box-shadow: #000000 0px 0px 10px;
}

.tabela:hover {
  background-color: #0d2f4d;
}

caption {
  color: #000000;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

th {
  border-bottom: 1px solid #ffffff;
  border-radius: 8px;
}